//Profile config names for nf-core/configs
params {
  config_profile_description = 'Gustave Roussy Flamingo profile _test'
  config_profile_contact = '-'
  config_profile_url = '-'
}

singularity {
  enabled = true
  cacheDir = 'path/to/scratch/tmp'
  autoMounts = true
}

process {
  executor = 'slurm'
  queue = 'mediumq'
  clusterOptions='--exclude=n01,n04,n17,n12,n13,n14,n20'
}

params {
  igenomes_ignore = true
  igenomesIgnore = true //deprecated
  max_memory = 270.GB
  max_cpus = 12
  max_time = 24.h
}

process.scratch=trueprocess {
  executor='slurm'
  clusterOptions='--exclude=n01,n04,n17,n12,n13,n14,n20'
  scratch='/path/to/tmp'
}

executor {
  queueSize=20
}

workDir = "/path/to/tmp"


process.scratch=true
